<!-- <h1 style="color: red">
    HELLO HETIC <br/> PROMO DATA/IA 2
</h1> -->

<!-- <form action="/search" method="get">
    <input type="text" name="query" placeholder="Recherche"/>
    <button type="submit">Recherche</button>
</form>

<form action="/books" method="get">
    <input type="text" name="query" placeholder="Recherche le livre"/>
    <button type="submit">Recherche le livre</button>
</form> -->

<!-- <form action="/search" method="get">
    <input type="text" name="query" placeholder="Recherche"/>
    <button type="submit">Recherche</button>
</form>

<form action="/books" method="get">
    <input type="text" name="query" placeholder="Rechercher le livre"/>
    <button type="submit">Rechercher</button>
</form> -->

<!-- Exercice1 -->

<div>
    <h1>Biblio. Livres</h1>
</div>

<form action="/books" method="get">
    <input type="text" name="author" placeholder="Rechercher un livre...">
    <button type="submit">Rechercher</button>
</form>
<!-- 
<div>
    <h1>Login</h1>
</div>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Nom utilisateur" />
    <input type="password" name="motdepasse" placeholder="Mot de passe" />
    <button type="submit">Connexion</button>
</form> -->

<!-- Exercice 2-->

<h1> Ajouter une reference</h1>

<form action="/add_book" method="post" align="center">
    <input type="text" name="title" placeholder="titre">
    <input type="text" name="author" placeholder="auteur">
    <input type="text" name="year" placeholder="année">
    <button type="submit">Enregistrer</button>
</form>